.text {
  line-height: 3em;
}
.text p {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.75);
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin-top: -10px;
  text-align: center;
  text-indent: 2em;
}
.text h1 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.75);
  font-size: 50px;
  width: 100%;
  margin: 0%;
  margin-bottom: 0;
  text-align: start;
}
.text :nth-child(2) {
  text-indent: 0.5em;
  font-weight: bold;
  color: #fff;
  font-size: 49px;
}

@media (max-width: 999px) {
  .text {
    display: none;
  }
}
